BasedOnStyle: Google

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 180

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
SortIncludes: true
